/* style.css */
@import 'layout';

a {color: purple; text-decoration: none;}
a:hover {border-bottom: thin solid;}
html, body {margin: 0; padding: 0; height: 100vh;}

.container {position: relative; height: 100vh;}

.blurb {
	$width: 500px;
	font: {
		family: 'Dancing Script', sans-serif;
		size: 1em;
	}
	position: absolute;
	top: 50vh;
	left: 0;
	width: 98%;
	background: white;
	text-align: center;
	padding: 5% 1%;
	z-index: 3;
	@include MQ(S) {
		font: {
			size: 1.5em;
		}
	}
	@include MQ(M) {
		$padding: $width/20;
		left: 50%;
		width: $width;
		margin-left: ((-$width)-($padding*2))/2; // Center w/ padding in mind
		padding: $padding;
		border-radius: 50px;
	}
}


.photo-container {height: 50vh; width: 100%; position: relative;
	@include MQ(S) {
		height: 60vh;
	}
	@include MQ(M) {
		height: 70vh;
	}
	@include MQ(L) {
		height: 80vh;
	}
}
.photo1 {
	background: url(../img/yoga.jpg) center center no-repeat;
	background-size: cover;
	width: 50%;
	height: 100%;
	display: inline-block;
	@include MQ(S) {
		display: block;
		float: left;
	}
	@include MQ(M) {
		background: url(../img/yoga.jpg) center 20% no-repeat;
		background-size: cover;
	}
}
.photo2 {
	background: url(../img/photography.jpg) center center no-repeat;
	background-size: cover;
	width: 50%;
	height: 100%;
	display: inline-block;
	@include MQ(S) {
		display: block;
		float: left;
	}
	@include MQ(M) {
		background: url(../img/photography.jpg) center 30% no-repeat;
		background-size: cover;
	}
}

.headshot {
	$width: 35vh; width: $width; height: $width; margin-left: -$width/2;
	background: url(../img/genevieve.jpg) top center no-repeat;
	background-size: 100%;
	border-radius: 50%;
	position: absolute;
	top: 14%;
	left: 50%;
	max-width: 100%;
	z-index: 1;
	@include MQ(S) {
		$width: 35vh; width: $width; height: $width; margin-left: -$width/2;
	}
	@include MQ(M) {
		$width: 40vh; width: $width; height: $width; margin-left: -$width/2;
		top: 8%;
	}
	@include MQ(L) {
		$width: 50vh; width: $width; height: $width; margin-left: -$width/2;
	}
}

.logo-container {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 30vh;
	width: 100%;
	z-index: 4;
	@include MQ(L) {
		height: 20vh;
	}
	.logo1 {
		background: url(../img/logo1.png) center center no-repeat;
		background-size: 75%;
		width: 50%;
		height: 100%;
		float: left;
		text-align: center;
		@include MQ(S) {
			background: url(../img/logo1.png) center center no-repeat;
			background-size: 75%;
		}
	}
	.logo2 {
		background: url(../img/logo2.png) center center no-repeat;
		background-size: 75%;
		width: 50%;
		height: 100%;
		float: left;
		text-align: center;
		@include MQ(S) {
			background: url(../img/logo2.png) center center no-repeat;
			background-size: 75%;
		}
	}
}

.teal {
	color: teal;
}

.fa {
	color: grey;
}

.foot {
	position: fixed;
	bottom: 10px;
	width: 100%;
	text-align: center;
}
